
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240, 242, 245);
}

.left, .right{
    width: 50%;
    float: left;
}

.principal {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;

}

.left {
    padding-top: 197px;
    padding-left: 240px;
}

.texto-left {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

.texto-left h1 {
    color: rgb(24, 119, 242);
    font-size:60px;
    font-weight: bolder;
}

.texto-left p{
    padding-top: 8px;
    font-size: 26px;
}


.card-login{
    padding-top: 123px;
    padding-left: 79px;
    display: inline-block;
}

.card-login form{
        background-color: white;
        height: 350px;
        width: 89%;
        border-radius: 12px;
}

.input-card, .botao-entrar, .forget-password, .botao-new-account {
    padding-top: 15px;
    padding-left: 18px;
}
.input-card input {
    width: 96%;
    height: 50px;
    font-size: 17px;
    color:  rgb(152, 160, 182);
    border-radius: 6px;
    border-color: rgb(195, 196, 197);
    border: 1px solid #dddfe2;
    line-height: 16px;
    padding: 0 8px;
    vertical-align: middle;
}

.botao-entrar button {
    border-radius: 7px;
    background-color: rgb( 24, 119, 242);
    font-size: 20px;
    width: 96%;
    height: 48px;
    font-weight: bolder;
    border-color: none;
    border: none;
}

.botao-entrar button:hover {
    background-color: rgba(11, 103, 223, 0.938);
    cursor: pointer;
}


.botao-entrar a{
    text-decoration: none;
    color: white;
}
.forget-password a {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    color:rgb(24, 119, 242);
    padding-left: 30%;
    text-decoration: none;
    font-size: 15px;
}

.forget-password a:hover {
    text-decoration: underline; 
}

.create-page {
    text-align: center;
    padding-top: 70px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.create-page a{
    text-decoration: none;
    color: black;
}


.botao-new-account {
    padding-top: 34px;
    padding-left: 120px;
}

.botao-new-account button {
    background-color: rgb(66, 183, 42);
    text-align: center;
    height: 46px;
    width: 60%;
    border-radius: 6px;
    border-color: none;
    border: none;
}


.botao-new-account a{
    text-decoration: none;
    color: white;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

footer{
    padding-top: 760px;
    
}

.rodape {
    width:1348px;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    background-color: white;
}



.top, .bottom {
    padding-left: 210px;
    padding-top: 28px;
}

.top li, .bottom li{
    display: inline;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size:12px;
    color: #737373;
    white-space: nowrap;
}

.top li:hover, .bottom li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.top button {
    width: 30px;
}
.top button a {
    text-decoration: none;
}

